* {
    font-family: sans-serif;
}

.titulo {
    display: flex;
    justify-content: center;
}

.resultado {
    display: flex;
    justify-content: center;
    font-size: 18px;
    margin-top: 10px;
}

.resultado p {
    border: 3px solid rgb(243, 243, 243);
    margin-top: 10px;
}

.num {
    display: flex;
    justify-content: center;
}

.num2 {
    margin:0 20px;
}
.verificar{
    height: 25px;
    font-size: 16px;
    display: flex;
}